extends layout 
block content
  .container
    h1 Search Results

    form(method="get" action="/search")
      label Search Books: 
        input(type="text" placeholder="search..." name="search_query" value=searchOptions.search_query)
        input(type="submit" value="Search")
      select(name="genres" multiple)
        for genre in genres
          - selected = searchOptions.genres.includes(genre.id.toString())
          option(value=genre.id selected=selected)= genre.genre
    if page > 1 
      a.previous-link(href="/search?search_query="+searchOptions.search_query+"&page="+(page -1)) Previous Page
    if books.length >= 10
      a.next-link(href="/search/?search_query="+searchOptions.search_query+"&page="+(page +1)) Next Page

    for book in books
      table.listing
        thead.listing
          th 
          th 
        tbody
            tr
              td.listing
                img.list-img(src=(book.imgurl || 'https://d30y9cdsu7xlg0.cloudfront.net/png/5020-200.png'))
              td.listing
                p.info Book Info
                a.listing-link(href="/books/"+book.id)=book.title
                p.info Authors
                for author in book.authors
                  p=author.name
                if book.genres.length > 1 
                  p.info Genres
                  for genre in book.genres
                    p= genre.genre

    if page > 1 
      a.previous-link(href="/search?search_query="+searchOptions.search_query+"&page="+(page -1)) Previous Page
    if books.length >= 10
      a.next-link(href="/search/?search_query="+searchOptions.search_query+"&page="+(page +1)) Next Page
